html{
    height: 100vh;
    scroll-behavior: smooth;
}

.banner{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-color:#000957;
    display: flex;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    z-index: 10;
    background-color: #E0D00A;
}

.logo img {
    height: 50px;
    width: 50px;
    position: absolute;
}

.header{
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    align-items: center;
    background-color: transparent;
}

.contato{
    background-color: #E0D00A;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding: 0px 10px 0px 10px;
    color: white;
    font-size: 12px;
    height: 50%;
}

.header-line{
    position: absolute;
    justify-self: flex-start;
    width: 70%;
    justify-content: space-between;
    height: 40px;
    display: flex;
    z-index: 10; 
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.nav-underline {
    width: 100%;
    height: 2px;
    background-color: white !important;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

body{
    font-family: "Inter", serif;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.content {
    max-width: 600px;
    padding: 20px;
}
.stats {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.stat-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.image-container img {
    width: 100%;
    border-radius: 10px;
}
