node_modules/
package-lock.json
.env.dev
.env
APIpython\database.py
.vscode
Automação/Terraform (Automação AWS)/.Terraform/
Automação/Terraform (Automação AWS)/.terraform.lock.hcl
Automação/Terraform (Automação AWS/terraform.tfstate.backup