Site/node_modules/
package-lock.json
Site/.env.dev
Site/.env
APIpython\database.py
.vscode
Instalação/Terraform (Automação AWS)/.Terraform/
Instalação/Terraform (Automação AWS)/.terraform.lock.hcl
Instalação/Terraform (Automação AWS/terraform.tfstate.backup