@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


html,body{
margin: 0;
height: 100%;
font-family: "Ubuntu", serif;
}
.container-geral{
height: auto;
width: auto;
display: flex;
}
.container-geral h2{
margin: 0;
}

.container-menu h3{
margin: 0;
} 
.container-menu{
background-color: #000957;
color: white;
width: 30%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.container-menu h1{
text-align: center;
}

.container-maquina{
    border-radius: 30px;
    width: 80%;
    height: 84%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #000957;
}

.container-central{
width: 70%;
background-color: #344cb7;
display: flex;
align-items: center;
justify-content: center;
}

.container-maquina h1{
    text-align: center;
}

.container-inputs{
width: 80%;
row-gap: 2.5em;
display: flex;
flex-direction: column;
justify-content: center;
}

.divs-inputs{

width: auto;
display: flex;
flex-direction: column;
justify-content: center;
font-family:"Ubuntu", serif;
}
.divs-inputs input{
width: auto;
}

.ipt_dados{
width: 25em;
height: 35px;
border-radius: 15px;
border: none;
}
.cadastro-button{
width: 12em;
height: 3em;
border-radius: 30px;
border: none;
background-color: #e0d00a;
color: white;
font-size: 20px;
font-weight: 1000;
}

.cadastro-button:hover{
    background-color: #eb9834;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
.container-menu {
width: 30%;
}
.container-central {
width: 70%;
display: flex;
}
}

@media screen and (max-width: 992px) {
.container-menu {
width: 30%;
}
.container-central {
width: 70%;
display: flex;
}
}

@media screen and (max-width: 768px) {
.container-menu {
width: 35%;
}
.container-central {
width: 65%;
}
}

@media screen and (max-width: 600px) {
.container-menu {
width: 35% !important;

}
.container-central {
display: 65% !important;
}
.container-maquina{
height: 85%;
}
}