@import url(components.css);

.main{
    gap: 40px;
}

.kpis{
    width: 100%;
    /* border: red 1px solid; */
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.kpi{
    background-color: var(--backgroundAzul);
    width: 20%;
    height: 90%;
    border: var(--azulEscuro) 4px solid;
    border-radius: 10px;
}

.tituloKPI{
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.conteudoKPI{
    height: calc(100% - 30px);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: white;
    display: flex;
    /* border: red 1px solid; */
}

.graficos{
    min-height: 45%;
    width: 100%;
    display: flex;
    /* border: black 1px solid; */
    justify-content: center;
    gap: 40px;
}

.graficoContainer{
    background-color: var(--backgroundAzul);
    min-width: 45%;
    /* min-height: 40%; */
    /* border: red 1px solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--azulEscuro) 4px solid;
    gap: 10px;
}

.tituloGrafico{
    text-align: center;
    color: white;
    /* border: 2px white solid; */
    width: 100%;
}

input{
    width: 85%;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    border: var(--azulEscuro) 3px solid;
}

select{
    width: 85%;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    border: var(--azulEscuro) 3px solid;
}

.grafico{
    /* border: 2px white solid; */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}