@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(components.css);


.main{
    justify-content: center;
}

.listaServers{
    /* background-color: var(--backgroundAzul); */
    width: 55%;
    /* border: red 1px solid; */
    height: 95%;
    /* border-radius: 4%; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;

}

.tabelaServers{
    /* border: blue 2px solid; */
    min-width: 100%;
    border-collapse: collapse;
    /* display: flex; */
    /* justify-content: center; */
}

tr{
    /* border: red 1px solid; */
    height: 50px;
    /* border: red 1px solid; */
    /* width: 100%; */
}

th{
    font-size: 45px;
    /* width: 100%; */
    border-bottom: black 3px solid;
    /* border: red 1px solid; */
    /* position: fixed; */
}

td{
    text-align: center;
    font-size: 30px;
    /* border: red 1px solid; */
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* tr:hover{
    background-color: var(--backgroundAzul);
    color: white;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px black;
} */

.excluir{
    font-size: 25px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.excluir:hover{
    background-color: var(--backgroundAzul);
    color: white;
    border-radius: 20px;
    border: black 2px solid;
}

.garbageCan{
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
    .container-menu {
        width: 50%;
    }
    .container-central {
        width: 50%;
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .container-menu {
        width: 65%;
    }
    .container-central {
        width: 35%;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .logo{
        display: flex;
    }
    .logo img{
        width: 100px;
    }
    .container-menu {
        width: 100%;
    }
    .container-central {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .logo{
        display: flex;
    }
    .logo img{
        width: 100px;
    }
    .container-menu {
        width: 100% !important;
    }
    .container-central {
        display: none !important;
    }
}
