*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s;
}

body{
    margin: 0;
}

.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #0E2144;
    color: #FFF9AB;
    padding: 20px;
    width: 20vw;
    text-align: center;
    height: 100vh;
}
.barra-lateral .div-logo{
    margin-top: 6vh;
    align-self: center;
    display: flex;
    gap: 1vw;

}
.barra-lateral .imgLogo{
    height: 64px;
    width: 72px;
    /* background-color: aqua; */
}
.barra-lateral .txtLogo{
    font-size: 1.4vw;
}
.barraHorizontal{
    align-self: center;
    width: 4vw;
    border: solid #FFF9AB;
    border-top-width: 0.7vh;
    border-left-width: 0vh;
    border-right-width: 0vh;
    border-bottom-width: 0vh;

}

.selecionado {
    color: #b4b4b4;
}

.selecionado span a {
    color: #b4b4b4;
}

.barra-lateral a{
    text-decoration: none;
    color: #FFF9AB;
    font-size: 1.2vw;
}

.barra-lateral .fa-solid{
    text-decoration: none;
    color: #FFF9AB;
    font-size: 1.5vw;
}

.barra-lateral a:hover{
    color: #b4b4b4;
}

.option i:hover {
    color: #b4b4b4;
}

.barra-lateral h4 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.option{
    display: flex;
    margin-left: 4vw;
    width: 10vw;
    align-items: center;
    gap: 1rem;
}
.option .svg_icons{
    width: 3vw;
    height: 6vh;
}

.option:last-child {
    justify-self: end;
}

.option:hover {
    cursor: pointer;
}

.perfil-foto {
    border-radius:100%;
    width: 100px;
    align-items: center;
}

.barra-lateral span {
    display: block;
    margin: 15px 0;
    padding: 1px;
    text-align: left; 
    font-weight: 1000;
}